# data-pipeline\crawlers\scrapy.cfg
# Cấu hình của project Scrapy

[settings]
# File chứa các thiết lập mặc định của project
default = jobcrawler.settings

[deploy]
# Tên project khi thực hiện deploy
project = jobcrawler